
*.userprefs
Life is dumb/Library/metadata/00/00000000000000002000000000000000

Life is dumb/Life is dumb.sln

*.log

Life is dumb/Library/shadercompiler-64bit-1.log
Project Mobius/Library/

*.sln

*.csproj

*.dwlt

Life is dumb/Library/expandedItems

Life is dumb/Library/metadata/00/00000000000000004000000000000000

Life is dumb/Library/metadata/85/85b63ca727e1141efbcc148f6176c54f

Life is dumb/Library/ScriptAssemblies/Assembly-CSharp.dll

Life is dumb/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Life is dumb/Library/shadercompiler-64bit-1.log
